<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.marin.ffmpeg"
        version="0.7.0">

  <name>FFMpeg</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/ffmpeg.js" target="js/ffmpeg.js"/>

  <js-module src="www/ffmpeg.js" name="ffmpeg">
    <clobbers target="ffmpeg" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="FFMpeg">
        <param name="android-package" value="com.marin.plugin.FFMpeg"/>
      </feature>
    </config-file>

    <source-file src="src/android/FFMpeg.java" target-dir="src/com/marin/plugin/"/>
    <!-- mobile ffmpeg framework for android using gradle -->
    <framework custom="true" src="src/android/mobile-ffmpeg-x2.gradle" type="gradleReference" />

  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="FFMpeg">
        <param name="ios-package" value="HWPFFMpeg" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPFFMpeg.h" target-dir="FFMpegPlugin"/>
    <source-file src="src/ios/HWPFFMpeg.m" target-dir="FFMpegPlugin"/>
    <!-- mobile ffmpeg framework for ios using cocoa pods -->
    <podspec>
      <config>
          <source url="https://github.com/CocoaPods/Specs.git"/>
      </config>
      <pods use-frameworks="true">
          <pod name="mobile-ffmpeg-full" spec="~> 4.2.2" />
      </pods>
    </podspec>
  </platform>
</plugin>